[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
python-decouple = "*"
whitenoise = "*"
djangorestframework-jwt = "*"
django-cors-middleware = "*"
django-cors-headers = "*"
numpy = "==1.19.3"
django-rest-framework = "*"
djangorestframework-jwt = "*"
pillow = "*"

[requires]
python_version = "3.8"
